
.TitleP {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 25px; 
}

.MoreI {
	font-family: 'Rubik', sans-serif;
	align-content: center;
}

.TitlePI {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 40px;
	padding-top: 10px	
}